{% extends "dasboard.html" %}

{% block content %}
<div class="p-4 flex items-start flex-col w-full">
    
    <form action="/upload" method="POST" enctype="multipart/form-data" class="flex flex-col gap-4 w-full">
        <label class="block w-full">
            
            <input type="file" name="images" multiple class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:border-0 file:text-sm file:font-semibold file:bg-gray-50 hover:file:bg-gray-100 border-2 border-gray-300 mt-4 w-full rounded-md hover:border-3 bg-gray-200 cursor-pointer">
        </label>
        
        <label class="w-[20%]">
            <span class="text-gray-700">Compression Quality</span>
            <input type="range" name="quality" min="0" max="100" value="100" class="w-full">
        </label>
        <span>

            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">
                Compress Images
            </button>
        </span>
    </form>

    <div class="container mx-auto mt-6 w-full border-2 border-gray-300 p-3 rounded-md h-full">
        <h1 class="text-2xl font-bold mb-4">Compressed Images</h1>
        
        {% if compressed_files %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for file in compressed_files %}
                    <div class="border rounded-lg p-2 flex flex-col items-center">
                        <img src="{{ url_for('download', filename=file.split('/')[-1]) }}" class="w-full h-auto" alt="Compressed Image">
                        <a href="{{ url_for('download', filename=file.split('/')[-1]) }}" class="mt-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" download>Download</a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No compressed files found.</p>
        {% endif %}
    </div>
    
    <!-- Display flashed messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>



{% endblock %}